Repository hmcts/finrem-notification-service, pull requests merged in 2019-02, with the labels that each got.

#26 HS: FR-653: removing unused authorisation code.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/NotificationController.java
Labels: ns:finrem-ns-pr-26

#31 FR_716_Smoke_tests
  src/smokeTest/resources/application.properties
Labels: ns:finrem-ns-pr-31

#25 Add security nightly tests
  .gitignore
  Jenkinsfile_nightly
  functional-output/.gitignore
  security.sh
Labels: ns:finrem-ns-pr-25

#34 disable swagger on prod
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/config/SwaggerConfiguration.java
  src/main/resources/application.properties
Labels: ns:finrem-ns-pr-34

#33 Finrem notification service automation tests
  build.gradle
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/IntegrationTestBase.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/TestContextConfiguration.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/util/FunctionalTestUtils.java
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/assignedToJudge.json
  src/functionalTests/resources/json/consentOrderAvailable.json
  src/functionalTests/resources/json/consentOrderMade.json
  src/functionalTests/resources/json/consentOrderNotApproved.json
  src/functionalTests/resources/json/hwfSuccessfulEmail.json
Labels: ns:finrem-ns-pr-33

#35 FR_716_Smoke_tests
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/notification/smoketests/NotificationSmokeTests.java
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/NotificationApplicationSmokeTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/category/SmokeTest.java
Labels: ns:finrem-ns-pr-35
