Repository hmcts/finrem-notification-service, pull requests merged in 2020-05, with the labels that each got.

#124 Fix for null selectedCourt info in consented/contested cases
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailService.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailServiceTest.java
Labels: ns:financial-remedy, rel:finrem-ns-pr-124

#127 Revert "Fix for null selectedCourt info in consented/contested cases …
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailService.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailServiceTest.java
Labels: ns:financial-remedy, rel:finrem-ns-pr-127

#129 Added UnusedImports module into Checkstyle
  checkstyle.xml
Labels: ns:financial-remedy, rel:finrem-ns-pr-129

#131 remove conditional check on demo branch
  Jenkinsfile_CNP
Labels: ns:financial-remedy, rel:finrem-ns-pr-131

#121 Add prepare-for-hearing callback
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ConsentedNotificationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/EmailTemplateNames.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationControllerTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/prepareForHearing.json
Labels: ns:financial-remedy, rel:finrem-ns-pr-121

#128 Update court info
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailService.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailServiceTest.java
Labels: ns:financial-remedy, rel:finrem-ns-pr-128

#133 contest order approved notification
  .travis.yml
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/functionalTests/resources/json/contestOrderApproved.json
  src/functionalTests/resources/json/contestedApplicationIssued.json
  src/functionalTests/resources/json/contestedHwfSuccessful.json
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ConsentedNotificationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/EmailTemplateNames.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/controllers/BaseNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ConsentedNotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/ContestedEmailTemplateNamesTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/integrationtest/NotifyContestOrderApprovedTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/contestOrderApproved.json
  src/test/resources/fixtures/prepareForHearing.json
Labels: ns:financial-remedy, rel:finrem-ns-pr-133

#122 RPET-195: update court email
  src/main/resources/application.properties
  src/test/resources/application.properties
Labels: ns:financial-remedy, rel:finrem-ns-pr-122

#136 Draft Order email + tests
  Jenkinsfile_CNP
  charts/finrem-ns/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/EmailTemplateNames.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/ContestedEmailTemplateNamesTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/EmailTemplateNamesTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/contestedDraftOrder.json
Labels: ns:financial-remedy, rel:finrem-ns-pr-136

#137 adding endpoint to sent prepare for hearing order sent notificaiton a…
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/EmailTemplateNames.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationControllerTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/prepareForHearingOrderSent.json
Labels: ns:financial-remedy, rel:finrem-ns-pr-137

#139 Bumped Gradle to 6.4, updated dependencies and removed suppression vulns
  build.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:financial-remedy, rel:finrem-ns-pr-139

#140 Bumping tomcat to version 9.0.35
  build.gradle
Labels: ns:financial-remedy, rel:finrem-ns-pr-140
