Repository hmcts/finrem-notification-service, pull requests merged in 2021-02, with the labels that each got.

#213 Update contested/consented notification controller logs
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ConsentedNotificationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationController.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-213

#214 Upgrade Helm chart to v2
  charts/finrem-ns/Chart.yaml
  charts/finrem-ns/requirements.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-214

#215 Update base chart to latest version
  build.gradle
  charts/finrem-ns/Chart.yaml
  charts/finrem-ns/values.yaml
  src/main/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-215

#216 Load AI key from vault
  src/main/resources/bootstrap.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-216

#217 suppress zap nightly build failure errors
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-217

#218 Include AI secret in Helm chart
  charts/finrem-ns/Chart.yaml
  charts/finrem-ns/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-218
