Repository hmcts/finrem-notification-service, pull requests merged in 2021-04, with the labels that each got.

#227 RPET-687: Implementing Email for Transfer to Local Courts
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ConsentedNotificationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ConsentedNotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/EmailTemplateNamesTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-227

#229 Removed JCentre repository and bumped Gov Notify version
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-229

#228 RPET-921 upgrade chart java
  charts/finrem-ns/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-228
