Repository hmcts/finrem-notification-service, pull requests merged in 2022-03, with the labels that each got.

#266 bump java and chart version
  charts/finrem-ns/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-266

#268 fix vulnerabilities and bump chart version
  build.gradle
  charts/finrem-ns/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-268

#269 suppress jackson vul until fixed version available
  dependency-check-suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-269
