Repository hmcts/finrem-notification-service, pull requests merged in 2022-09, with the labels that each got.

#300 dependencies
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-300

#299 DFR-1279: general application refer to judge template change
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailService.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-299

#297 DFR-977: add endpoint and logic for reject general application emails
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/functionalTests/resources/json/reject-general-application.json
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-297

#298 DFR-120: add party names in notification
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailService.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-298

#302 updrade 1.33 version
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-302
