Repository hmcts/finrem-notification-service, pull requests merged in 2022-10, with the labels that each got.

#301 DFR-379: list of hearing notification for consented case
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ConsentedNotificationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ConsentedNotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/EmailTemplateNamesTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-301

#305 Dfr 1213 barrister access email
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/controllers/ContestedNotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-305

#304 DFR-1346: fdr notifications
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailService.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/domain/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/notifications/service/EmailServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ns-pr-304
